<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.AWSBedrockGuardrail">
    <property action="set" name="bedrockConfig" value="{{bedrockConfig}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
</class>