<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.AWSBedrockGuardrail">
    <property action="set" name="accessKey" value="{{accessKey}}"/>
    <property action="set" name="secretKey" value="{{secretKey}}"/>
    <property action="set" name="region" value="{{region}}"/>
    <property action="set" name="serviceName" value="{{serviceName}}"/>
    <property action="set" name="guardrailId" value="{{guardrailId}}"/>
    <property action="set" name="guardrailVersion" value="{{guardrailVersion}}"/>
    <property action="set" name="sessionToken" value="{{sessionToken}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="redactPII" type="BOOLEAN" value="{{redactPII}}"/>
</class>