<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.RegularExpressionProtector">
    <property action="set" name="regexPattern" value="{{regexPattern}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="failOnRegexMatch" type="BOOLEAN" value="{{failOnRegexMatch}}"/>
</class>