<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.SentenceCountGuardrail">
    <property action="set" name="sentenceCount" type="INTEGER" value="{{sentenceCount}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="inverse" type="BOOLEAN" value="{{inverse}}"/>
</class>