<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.WordCountGuardrail">
    <property action="set" name="wordCount" type="INTEGER" value="{{wordCount}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="inverse" type="BOOLEAN" value="{{inverse}}"/>
</class>