<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.JSONKeysGuardrail">
    <property action="set" name="targetKeys" value="{{targetKeys}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="inverse" type="BOOLEAN" value="{{inverse}}"/>
</class>