<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.BasicGuardrail">
    <property action="set" name="jsonSchema" value="{{jsonSchema}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="doInvert" type="BOOLEAN" value="{{doInvert}}"/>
</class>