<class name="org.wso2.carbon.apimgt.gateway.mediators.ai.guardrails.IntegrationGuardrail">
    <property action="set" name="webhookUrl" value="{{webhookUrl}}"/>
    <property action="set" name="headers" value="{{headers}}"/>
    <property action="set" name="jsonProperty" value="{{jsonProperty}}"/>
    <property action="set" name="doDeny" type="BOOLEAN" value="{{doDeny}}"/>
    <property action="set" name="doInvert" type="BOOLEAN" value="{{doInvert}}"/>
</class>